#header {
    width:300px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    padding: 6px;
    box-sizing: border-box;
}

#header h1 {
    padding-left: 20px;
    font-size: 15px;
    overflow: visible;
    display:inline;
}

#header img {
    display: inline-block;
    overflow: hidden;
    object-fit: cover;
    vertical-align: bottom;
    width: 60px;
    border-radius: 3px;
}

.default-button {
    display: inline-block;
    cursor: pointer;
    background-color: #2a9d8f;
    border: none;
    color: white;
    text-align: center;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    font-size: 15px;
    border-radius: 3px;
    box-sizing: border-box;
}

label.default-button {
    display: block;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-active="true"].default-button {
    background-color: #2a9d8f;
}

[data-active="false"].default-button {
    background-color: #ABC9C5;
}