/* Style the header with a grey background and some padding */
html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f3f3f3;
    margin: 0;
}

.container {
    width: inherit;
    height: 100vh;

    display: grid;

    grid-template-columns: minmax(250px, 15%) 1fr;

    grid-template-rows: minmax(150px, 15vh) 10fr;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
    width: inherit;
    height: 100%;

    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.header h1 {
    padding-left: 20px;
    font-size: 48px;
}

.header img {
    height: 100%;
    display: inline-block;
    overflow: hidden;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 5px;
}

.tabs {
    display: flex;
    justify-content: normal;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tab:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tab:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tab {
    padding: 15px 12px 15px 20px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
    cursor: pointer;
    background-color: white;
}

.tab:hover {
    background-color: #2a9c8e;
    color: white;
}

.tab.active {
    background-color: #26887c;
    color: white;
}

[data-tab-content] {
    display: none;
    width: inherit;
}

.active[data-tab-content] {
    display: block;
}

.tab-content {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.title {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 48;
    margin-top: 0px;
}

.sub-title {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 18;
    margin-top: 10px;
    margin-bottom: 3px;
}

.allowlist-delete-button {
    background-color: #2a9d8f7f;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    height: 15px;
    width: 15px;
    border-radius: 3px;
}

.allowlist-delete-button[type="image" i] {
    opacity: 0.5;
}

td:hover .allowlist-delete-button {
    background-color: #2a9d8f;
    height: 15px;
    width: 15px;
}

td:hover .allowlist-delete-button[type="image" i] {
    opacity: 1;
}

#allowlist-add-button {
    background-color: #2a9d8f;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 3px;
}

#allowlist-input {
    flex-grow: 1;
    border: 1px solid #2a9d8f;
    margin-right: 5px;
    border-radius: 3px;
    padding: 0px 10px;
}

#allowlist-input:focus {
    outline: none;
    border: 2px solid #2a9d8f;
}

#allowlist-form-div {
    width: 100%;
    display: flex;
    margin-bottom: 0px;
}

#allowlist-table {
    min-width: 200;
    width: 100%;
}

.centered-cell {
    text-align: center;
    width: 1%;
}

table {
    border-collapse: collapse;
    border-radius: 3px;
    min-width: 200;
    width: 100%;
    border: 1px solid #2a9d8f;
    border-spacing: 0;
    max-height: 70%;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

th {
    text-align: left;
    height: 35px;
    padding: 12px 10px;
    position: sticky;
    top: 0;
    background-image: linear-gradient(#f3f3f3, #f3f3f3dd, #f3f3f300);
}

td {
    padding: 10px 15px;
}

tr {
    height: 30px;
    padding: 8px 10px;
}

tbody > tr:hover {
    background-color: #2a9c8e;
    color: white;
}

.roundedNum {
    color: #1c695f;
    font-weight: 500;
}

.section {
    min-width: 400px;
    width: 40%;
    display: flex;
    justify-content: normal;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.stats.section {
    min-width: 400px;
    width: 100%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible-button {
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: 500;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible-button:hover {
    background-color: #2a9c8e;
    color: white;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible-button:hover {
    background-color: #2a9c8e;
    color: white;
}

.collapsible-button:after {
    content: "\25BC"; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    margin-left: 5px;
}

.collapsible-button:hover:after {
    color: white;
}


.active.collapsible-button:after {
    content: "\25B2"; /* Unicode character for "minus" sign (-) */
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
    padding: 0 18px;
}

input[type="file"] {
    display: none;
}

.default-button {
    display: inline-block;
    cursor: pointer;
    background-color: #2a9d8f;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    height: 40px;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 15px;
    box-sizing: border-box;
}

label.default-button {
    display: block;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-select{
display:block;
width:100%;
padding:.375rem 2.25rem .375rem .75rem;
-moz-padding-start:calc(0.75rem - 3px);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");background-repeat:no-repeat;background-position:right .75rem center;background-size:16px 12px;border:1px solid #ced4da;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;-webkit-appearance:none;-moz-appearance:none;appearance:none}