/* Style the header with a grey background and some padding */

body {
    background-color: #f3f3f3;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: minmax(200px, 15%) 1fr;

    grid-template-rows: 15vh 10fr;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100vw;
    height: 100%;

    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.header h1 {
    padding-left: 3%;
}

.header img {
    height: 100%;
}

.sidenav {
    width: 100%;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
}

.sidenav a:hover {
    background-color: #2A9C8E;
    color: white;
}

.sidenav a.active {
    background-color: #26887C;
    color: white;
}

.content{
    padding-left: minmax(240px, 2%);
}
